html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-y: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  color: white;
}

.header-center {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  cursor: pointer;
}

.header-center img {
  margin-right: 10px;
}

#logoutButton {
  padding-right: 15px;
  padding-top: 12px;
}

#userConfig {
  height: 35px;
}

.logout {
}

.mainwindow {
  padding: 50px 0 0 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.conversation {
  height: 100%;
}

md-sidenav-layout {
  height: 100%;
}

md-sidenav {
  width: 300px;
  height: 100%;
}

md-sidenav.md-sidenav-opened {
  box-shadow: none;
}



header .icon-fa {
  padding: 5px;
  color: #0c695c;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
}

.modal-content {
  margin: 25% auto !important;
}


.addUser {
  background-color: #0a3435;
}

.addGroup {
  background-color:  #124648;
}

.addUser, .addGroup {
  height: 40px;
  color: white;
  text-align: center;
  font-size: 20px;
}

.addUser i, .addGroup i {
  position: absolute;
  left: 20px;
  font-size: 30px;
}

.addUser div, .addGroup div {
  padding-top: 5px;
}

li {
  list-style: none;
}

.group-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.group-contact-proposal {
  display: flex;
  align-items: center;
}

.group-contact-proposal .label-contacts {
  display: flex;
  align-items: center;
}

.group-contact-proposal input {
  margin-top: 0px;
  margin-right: 10px;
}

.group-contact-proposal .avatar-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-right: 10px;
}

.group-contact-proposal .initials {
  position: relative;
  top: 10px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  font-family: "Fira mono", monospace;
}


.group-contact-proposal .contact-name {
  font-size: 20px;
  font-weight: lighter;
}
