html {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

ul {
    padding: 0;
    margin: 0;
}

.userInput {
    width: 80%;
    float: right;
    min-height: 6%;
    /*
    box-sizing: border-box;
    */
    border-top: 1px solid dimgray;
    bottom: 0;
    background-color: white;
    right: 0;
    position: fixed;
}

.userInput input {
    vertical-align: middle;
    width: 70%;
    padding: 10px;
    border: none;
    /*
    overflow-y: scroll;*/
    overflow: wrap;
    outline-width: 0;
}

.sendMessage {
    width: 20px;
    height: 30px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: black;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    padding-right: 40px;
    cursor: pointer;
}

.listContainer {
    width: 20%;
    float: left;
    padding-top: 50px;
    height: 100%;
    box-sizing: border-box;
    /*border-right: 1px solid dimgray;*/
}

.listContainer img {
    margin-right: 10px;
    float: left;
}

.listContainer li {
    min-height: 60px;
}

.listContainer h1 {
    margin: 0;
}

.listContainer p {
    margin: 0;
}

.lastMessage {
    overflow: hidden;
    max-height: 15px;
    max-width: inherit;
}

.conversationCanvas {
    width: 80%;
    float: right;
    height: 94%;
    background: linear-gradient(to bottom, #80CBC4 0%, #E0F2F1 100%);
    overflow-y: scroll;
}

.selectedConversation {
    /*padding-top: 50px;*/
    box-sizing: border-box;
}

.message:nth-child(1) {
    margin-top: 60px;
}

.selectedConversation li:first-of-type {
    margin-top: 50px;
}

.contactList {
    color: black;
    padding: 20px;
    list-style: none;
}
.listContainer li {
    cursor: pointer;
}
/*.contactList:hover {
    background-color: #f5f5f5;
    transition: 0.2s;
    cursor: pointer;
}*/

.selected {
    background-color: #006064;
    color: white;
}

.profilePic {
    width: 50px;
    height: 50px;
    text-align: left;
    padding: 0;
    vertical-align: middle;
}

p {
    word-wrap: none;
}

.emoji {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    cursor: pointer;
}

.modalEmoji {
    width: 40px;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
}

.modalEmoji:hover {
    background-color: gray;
    transition: 0.6s;
}

.message {
    margin: 10px;
    max-width: 30%;
    float: right;
    right: 20px;
    clear: both;
    line-height: 150%;
}

.bubble {
    background-color: white;
    border: 1px solid white;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Helvetica, sans-serif;
    border-radius: 20px;
}

.imageMessage {}

.attach {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    cursor: pointer;
}

.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}


/* Default class applied to drop zones on over */

.another-file-over-class {
    border: dotted 3px green;
}