.chaton {
    height: 50px;
    background-color: rgba(15,15,15,0.9);    
    position: fixed;
    opacity: 1;
    top: 0;
    box-shadow: 0 2px 0.4em rgba(0,0,0,0.2);
    width: 100%;
}
.chaton .logo {
    margin-top: -6px;
    height: 65px;
}