html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-y: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  color: white;
}

.header-center {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  cursor: pointer;
}

.header-center img {
  margin-right: 10px;
}

#logoutButton {
  padding-right: 15px;
  padding-top: 12px;
}

#userConfig {
  height: 35px;
}

.logout {
}

.mainwindow {
  padding: 50px 0 0 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.conversation {
  height: 100%;
}

md-sidenav-layout {
  height: 100%;
}

md-sidenav {
  width: 300px;
  height: 100%;
}

md-sidenav.md-sidenav-opened {
  box-shadow: none;
}



header .icon-fa {
  padding: 5px;
  color: #0c695c;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
}

.modal-content {
  margin: 25% auto !important;
}


.addUser {
  height: 80px;
  background-color: #124648;
  color: white;
  text-align: center;
  font-size: 20px;
}

.addUser i {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 40px;
}

.addUser div {
  padding-top: 25px;
}
