<header class="chaton">
  <div class="header-left">
    <img class="logo" src="../assets/logo.png" (click)="this.router.navigateByUrl('');">
    <i class="icon-fa fa fa-bars" #togglemenu (click)="start.toggle()"> </i>
  </div>
  <div class="header-center" (click)="modalConfig.open()">
    <img id="userConfig" class="img-circle" src="{{avatar}}"/>
    <h4>{{username}}</h4>
  </div>
  <div class="header-right">
    <i id="logoutButton" class="icon-fa fa fa-power-off" (click)="logout()"></i>
  </div>
</header>

<div class="mainwindow">
  <md-sidenav-layout>
    <md-sidenav #start (open)="togglemenu.focus()" mode="side" opened="true">
      <div class="contact-list">
        <li class="addUser" (click)="modalNewContact.open()">
          <div>
            <i class="icon-fa fa fa-plus"></i> Add a new contact
          </div>
        </li>
        <app-contact-list [contacts]="contacts" [(selectedContact)]="selectedContact"></app-contact-list>
      </div>
    </md-sidenav>

    <div class="conversation">
      <app-conversation [(selectedContact)]="selectedContact"></app-conversation>

    </div>
  </md-sidenav-layout>
</div>

<modal #modalConfig>
  <modal-header>
    <h1>Edit your profile</h1>
  </modal-header>
  <modal-content>
    <form>
      <div class="form-group">
        <label for="usernameInput">Edit your username</label>
        <input id="usernameInput" name="formUsername" class="form-control" type="text" [(ngModel)]="formUsername"
               placeholder="Username"
               required/>
      </div>
      <hr>
      <div class="form-group">
        <label for="ancientPassword">Type your current password</label>
        <input id="ancientPassword" name="formAncientPassword" class="form-control" type="text"
               [(ngModel)]="formOldPassword" placeholder="Old password"/>
      </div>
      <div class="form-group">
        <label for="newPassword">Type your new password</label>
        <input id="newPassword" name="formNewPassword" class="form-control" type="text" [(ngModel)]="formNewPassword"
               placeholder="New password"/>
      </div>
      <div class="form-group">
        <label for="repeatPassword">Confirm your new password</label>
        <input id="repeatPassword" name="formRepeatPassword" class="form-control" type="text"
               [(ngModel)]="formRepeatPassword" placeholder="Repeat new password"/>
      </div>
    </form>
  </modal-content>
  <modal-footer>
    <button type="button" class="btn btn-default" (click)="modalConfig.close()">Close</button>
    <button type="button" class="btn btn-primary" (click)="updateUserInfos(); modalConfig.close();">Save changes
    </button>
  </modal-footer>
</modal>

<modal #modalNewContact>
  <modal-header>
    <h1>Add a new contact</h1>
  </modal-header>
  <modal-content>
    <form>
      <div class="form-group">
        <label for="contactEmail">Enter your contact email:</label>
        <input id="contactEmail" name="formNewContactEmail" class="form-control" type="text"
               [(ngModel)]="formNewContactEmail"
               placeholder="Email" required/>
      </div>
    </form>
  </modal-content>
  <modal-footer>
    <button type="button" class="btn btn-default" (click)="modalNewContact.close()">Close</button>
    <button type="button" class="btn btn-primary" (click)="addNewContact(); modalNewContact.close();">Save changes
    </button>
  </modal-footer>
</modal>

