<header class="chaton">
  <a class="icon-fa" id="toggle-menu" #togglemenu (click)="start.toggle()">
    <i class="fa fa-bars"> </i>
  </a>
  <img class="logo" src="../assets/logo.png" (click)="this.router.navigateByUrl('');">

  <i (click)="modalConfig.open()" class="icon-fa fa fa-cog"> </i>

  <div class="logout" (click)="logout()"><i class="icon-fa fa fa-power-off"></i></div>
</header>

<div class="mainwindow">
  <md-sidenav-layout>
    <md-sidenav #start (open)="togglemenu.focus()" mode="side" opened="true">
      <div class="contact-list">
        <app-contact-list [contacts]="contacts" [(selectedContact)]="selectedContact"></app-contact-list>
      </div>
    </md-sidenav>

    <div class="conversation">
      <app-conversation [(selectedContact)]="selectedContact"></app-conversation>

    </div>
  </md-sidenav-layout>
</div>

<!--
<div class="modal" id="modalConfig" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalConfigLabel">Edit your profile</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="usernameInput">Edit your username</label>
            <input id="usernameInput" name="formUsername" class="form-control" type="text" [(ngModel)]="formUsername" placeholder="Username"
                   required/>
          </div>
          <hr>
          <div class="form-group">
            <label for="ancientPassword">Type your current password</label>
            <input id="ancientPassword" name="formAncientPassword" class="form-control" type="text" [(ngModel)]="formOldPassword" placeholder="Old password"/>
          </div>
          <div class="form-group">
            <label for="newPassword">Type your new password</label>
            <input id="newPassword" name="formNewPassword" class="form-control" type="text" [(ngModel)]="formNewPassword" placeholder="New password"/>
          </div>
          <div class="form-group">
            <label for="repeatPassword">Confirm your new password</label>
            <input id="repeatPassword" name="formRepeatPassword" class="form-control" type="text" [(ngModel)]="formRepeatPassword" placeholder="Repeat new password"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateUserInfos()">Save changes</button>
      </div>
    </div>
  </div>
</div>-->

<modal #modalConfig>
  <modal-header>
    <h1>Edit your profile</h1>
  </modal-header>
  <modal-content>
    <form>
      <div class="form-group">
        <label for="usernameInput">Edit your username</label>
        <input id="usernameInput" name="formUsername" class="form-control" type="text" [(ngModel)]="formUsername" placeholder="Username"
               required/>
      </div>
      <hr>
      <div class="form-group">
        <label for="ancientPassword">Type your current password</label>
        <input id="ancientPassword" name="formAncientPassword" class="form-control" type="text" [(ngModel)]="formOldPassword" placeholder="Old password"/>
      </div>
      <div class="form-group">
        <label for="newPassword">Type your new password</label>
        <input id="newPassword" name="formNewPassword" class="form-control" type="text" [(ngModel)]="formNewPassword" placeholder="New password"/>
      </div>
      <div class="form-group">
        <label for="repeatPassword">Confirm your new password</label>
        <input id="repeatPassword" name="formRepeatPassword" class="form-control" type="text" [(ngModel)]="formRepeatPassword" placeholder="Repeat new password"/>
      </div>
    </form>
  </modal-content>
  <modal-footer>
    <button type="button" class="btn btn-default" (click)="modalConfig.close()">Close</button>
    <button type="button" class="btn btn-primary" (click)="updateUserInfos()">Save changes</button>
  </modal-footer>
</modal>

