ul {
  padding: 0;
  margin: 0;
  height: 100%;
}

.addUser {
  height: 80px;
  background-color: #124648;
  color: white;
  text-align: center;
  font-size: 20px;
}

.addUser i {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 40px;
}

.addUser div {
  padding-top: 25px;
}

.contactList {
  color: black;
  list-style: none;
  padding: 10px;
}

.listContainer {
  height: 100%;
}

.listContainer img {
  margin-right: 10px;
  float: left;
}

.listContainer li {
  min-height: 80px;
}

.listContainer h1 {
  padding-top: 8px;
  margin: 0;
}

.listContainer p {
  margin: 0;
}

.listContainer li {
  cursor: pointer;
}

.lastMessage {
  overflow: hidden;
  max-height: 15px;
  font-size: 12px;
  max-width: inherit;
}

.profilePic {
  width: 60px;
  height: 60px;
  text-align: left;
  padding: 0;
  vertical-align: middle;
}

.selected {
  background-color: #006064;
  color: white;
}

