ul {
  padding: 0;
  margin: 0;
  height: 100%;
}

.contactList {
  color: black;
  padding: 20px;
  list-style: none;
}

.listContainer {
  height: 100%;
}

.listContainer img {
  margin-right: 10px;
  float: left;
}

.listContainer li {
  min-height: 60px;
}

.listContainer h1 {
  margin: 0;
}

.listContainer p {
  margin: 0;
}

.listContainer li {
  cursor: pointer;
}

.lastMessage {
  overflow: hidden;
  max-height: 15px;
  font-size: 12px;
  max-width: inherit;
}

.profilePic {
  width: 50px;
  height: 50px;
  text-align: left;
  padding: 0;
  vertical-align: middle;
}

.selected {
  background-color: #006064;
  color: white;
}

