<div class="listContainer">

  <ul>

    <li *ngFor="let contact of contacts" [class.selected]="contact === selectedContact" (click)="onSelect(contact)"
        class="contactList">
      <div class="avatar-circle" [ngStyle]="{'background-color': contact.color}">
        <span class="initials">{{contact.initials()}}</span>
      </div>
      <div class="right-part">
        <h1>{{contact.name}}</h1>
        <span *ngIf="contact.messages.length > 0" class="lastMessage">{{sender(contact) + contact.lastMessage().content}}</span>
      </div>
    </li>
  </ul>
</div>


