<div class="listContainer">

  <ul>
    <li class="addUser">
      <div>
        <i class="icon-fa fa fa-plus"></i> Add a new contact
      </div>
    </li>
    <li *ngFor="let contact of contacts" [class.selected]="contact === selectedContact" (click)="onSelect(contact)"
        class="contactList">
      <img class="img-circle profilePic" src={{contact.avatar}}>
      <h1>{{contact.username}}</h1>
      <p *ngIf="contact.messages.length > 0" class="lastMessage">{{contact.messages[contact.messages.length -
        1].content}}</p>
    </li>
  </ul>
</div>
