ul {
  padding: 0;
  margin: 0;
  height: 100%;
}

.contactList {
  color: black;
  list-style: none;
  padding: 10px;
  display: flex;
  align-items: center;
}

.listContainer {
  height: 100%;
}

.listContainer li {
  height: 80px;
  width: 100%;
  display: flex;

}

.listContainer h1 {
  margin: 0 10px 0 0;
}

.listContainer p {
  margin: 0;
}

.listContainer li {
  cursor: pointer;
}

.lastMessage {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 15px;
  font-size: 12px;
  max-width: inherit;
}

.selected {
  background-color: #006064;
  color: white;
}

.avatar-circle {
  width: 60px;
  min-width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-right: 15px;
}

.initials {
  position: relative;
  top: 15px;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  font-family: "Fira mono", monospace;
}

