<router-outlet>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>


    <body>

        <div class=chaton>
            <img class="logo" src="../assets/logo.png" (click)="this.router.navigateByUrl('');">
        </div>
        <!--Google Font - Work Sans-->
        <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,700' rel='stylesheet' type='text/css'>

        <div class="container">
            <div class="profile">
                <div class="profile__form">
                    <div class="profile__fields">
                        <div class="field">
                            <input type="text" [(ngModel)]="email" placeholder="Email address" class="input" required autofocus/>
                        </div>
                        <div class="field">
                            <input type="text" [(ngModel)]="username" placeholder="Username" class="input" required/>
                        </div>
                        <div class="field">
                            <input type="password" [(ngModel)]="password" placeholder="Password" class="input" required/>
                        </div>
                        <div class="field">
                            <input type="password" [(ngModel)]="repeatPassword" placeholder="Repeat password" class="input" required/>
                        </div>
                        <div class="profile__footer" style="margin-bottom: 10px;">
                            <button class="btn" (click)="register()">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <modal #waitingModal>
            <modal-header>
                <h1>Please wait</h1>
            </modal-header>
            <modal-content>
                Registering...
            </modal-content>
        </modal>
    </body>
</router-outlet>